<!DOCTYPE html>
<head>
    <title>Project</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script>
        var myapp = angular.module('myapp',[])
        myapp.controller('controll', function ($scope) {
            $scope.data = {data};
           
        })
    </script>

<style>

*{
  max-width: 1000px;
  font-family: sans-serif;
  padding-left: 5px;
  padding-right: 5px;



}

    th{
        background-color: #95A5A6;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 0.03em;
    }

    tr{
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
    

    }
    table.center {
      margin-left: auto;
      margin-right: auto;
    }


    body {
  background: #fafafa url(https://jackrugile.com/images/misc/noise-diagonal.png);

  font: 100%/30px 'Helvetica Neue', helvetica, arial, sans-serif;
  text-shadow: 0 1px 0 #fff;
}

strong {
  font-weight: bold; 
  
}

em {
  font-style: italic; 
}





@import url(https://fonts.googleapis.com/css?family=Open+Sans);


.search {
  width: 330px;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #cc1400;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #cc0000;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.wrap{
  
  display: flex;
  justify-content: center;
  
}





    </style>
</head>
<body>
    <div ng-app = "myapp" ng-controller = "controll">
        
        <center><h1 style="font-size: 40px;">Booking Admin Page</h1></center>
        <form action="/searchbooking" method="POST">
        <div class="wrap" >
    <div class="search">
       <input type="text" class="searchTerm" name="bid" placeholder="What are you looking for?">
       <button type="submit" class="searchButton">
         <i class="fa fa-search"></i>
      </button>
    </div>
 </div>
</form>



        <!-- <% for(var i=0; i < data.length; i++) { %>
            <p><%= data[i].name %></p> 
            <p><%= data[i].email %></p> 
            <p><%= data[i].gender %></p> 
            <p><%= data[i].age %></p> 
            <p><%= data[i].skills %></p>  
            <br /><br /> ....... <br /><br />
        <% } %> -->

        <table  cellspacing="5" cellpadding="10">

            <tr>
                <th>BookingId </th>
                <th>HotelName</th>
                <th>FullName</th>
                <th>Place</th>
                <th>Checkin</th>
                <th>Checkout</th>
                <th>Rooms</th>
                <th>Adults</th>
                <th>Children</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Options</th>


            </tr>

            <% for(var i=0; i<data.length; i++) {%>
                <form name="<%= data[i].BookingId %>" method="POST">

               <tr>
                 <td><%= data[i].BookingId %></td>
                 <td><%= data[i].HotelName %></td>
                 <td><%= data[i].FullName %></td>
                 <td><%= data[i].Place %></td>
                 <td><%= data[i].Checkin %></td>
                 <td><%= data[i].Checkout %></td>
                 <td><%= data[i].Rooms %></td>
                 <td><%= data[i].Adults %></td>
                 <td><%= data[i].Children %></td>
                 <td><%= data[i].Email %></td>
                 <td><%= data[i].Phone %></td>
                 <td><input type="number" value ="<%= data[i].BookingId %>" name="bid" style="display:none">
                    <input type="text" value ="<%= data[i].HotelName %>" name="hotelname" style="display:none">
                    <input type="text" value ="<%= data[i].FullName %>" name="fullname" style="display:none">
                    <input type="text" value ="<%= data[i].Place %>" name="address" style="display:none">
                    <input type="text" value ="<%= data[i].Checkin %>" name="checkin" style="display:none">
                    <input type="text" value ="<%= data[i].Checkout %>" name="checkout" style="display:none">
                    <input type="number" value ="<%= data[i].Rooms %>" name="rooms" style="display:none">
                    <input type="number" value ="<%= data[i].Adults %>" name="adults" style="display:none">
                    <input type="number" value ="<%= data[i].Children %>" name="children" style="display:none">
                    <input type="email" value ="<%= data[i].Email %>" name="email" style="display:none">
                    <input type="number" value ="<%= data[i].Phone %>" name="phoneno" style="display:none">


                         
                <button type="submit" value="modify" formaction="/modifybooking" style=" background-color: cyan;color: white; border-radius: 5px; border: 2px solid white;cursor: pointer; font-size: 20px;" >Modify</button> 
                <button type="submit" value="delete" formaction="/deletebooking" style=" background-color: red;color: white; border-radius: 5px; border: 2px solid white;cursor: pointer; font-size: 20px;" >Delete</button> </td>

               </tr>
               </form>
               <% } %>
           
        </table>
              
          
    </div>
</body>